html,
body {
  margin: 0;
}

:root {
  --background-color: #e2e8f0;
  --sidebar-color: #1992d4;
  --sidebar-darker-color: #1783bd;
  --navbar-color: #ffffff;
  --accent-color: #facc15;
  --secondary-font-weight: 900;
  font-family: "Open Sans", sans-serif;
}
ul li {
  list-style: none;
}
.sidemenu {
  list-style: none;
}
/* main grid layout */

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.2fr 5fr;
  grid-template-rows: 1.3fr 8fr;
  grid-template-areas: "sidemenu navbar" "sidemenu mainscreen";
}

.mainscreen {
  background-color: var(--background-color);
  grid-area: mainscreen;
}
.sidemenu {
  background-color: var(--sidebar-color);
  grid-area: sidemenu;
  display: grid;
  grid-template-rows: 5rem repeat(10, 3rem);
  /* align-self: center; */
  /* grid-template-rows: ; */
}

.navbar {
  display: grid;
}

/* ____________ */

div {
  /* border: 0.5px solid red; */
}

li {
  /* border: 0.5px solid red; */
}

/* Navbar */
.navbar {
  background-color: var(--navbar-color);
  padding-right: 5%;
  padding-left: 3%;
  display: grid;
  grid-template: 1fr 1fr/ 3fr 1fr;
}
.navbar img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.navbar .profileInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: var(--secondary-font-weight);
}

input {
  background-color: var(--background-color);
  border-radius: 10px;
  /* box-shadow: none; */
  outline: none;
  border-style: none;
  width: 70%;
}
.search {
  display: flex;
  align-items: center;
  /* justify-content: stretch; */
}

.search .material-symbols-outlined {
  padding-right: 0.7rem;
}

.welcome {
  display: flex;
}
.welcome img {
  width: 60px;
  height: 60px;
}
.navbar {
  font-weight: var(--secondary-font-weight);
}
.navbar button {
  background-color: var(--sidebar-color);
  color: white;
  width: 5.7rem;
  height: 2rem;
  border-style: none;
  margin-left: 0.5rem;
  border-radius: 18px;
  font-weight: var(--secondary-font-weight);
}
.functionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text .smaller {
  font-size: 0.9rem;
}

/* __________________ */

/* sidemenu */

.sidemenu li:not(:first-child) .material-symbols-outlined {
  /* color: #ffffff; */
  padding-right: 0.8rem;
  /* padding-left: 1rem; */
}
.sidemenu li:first-child .material-symbols-outlined {
  padding-right: 0.33rem;
}

.sidemenu {
  /* justify-items: center; */
  /* align-items: center; */
  /* align-self: center; */
}
.sidemenu > li {
  /* align-self: center; */
  display: flex;
  align-items: center;
  /* justify-items: center; */
}
.sidemenu > li:hover {
  background-color: var(--sidebar-darker-color);
}

.title .material-symbols-outlined {
  font-size: 36px;
}

.sidemenu li:not(:first-child) {
  /* padding-top: 1rem; */
  padding-left: 1rem;
  color: white;
}

.sidemenu li:first-child {
  color: white;
  padding-left: 0.7rem;
}

/* _____________________-- */

/* mainscreen */

.mainscreen {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 2rem 1.2fr 2rem 1fr;
  gap: 15px;
}

.projects {
  grid-area: 2/ 1 / 5/ 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  /* padding-left: 15px; */
  /* padding-bottom: 15px; */
}
.mainscreen {
  padding: 15px;
}
.projects,
.projectTitle {
  /* box-shadow: 17px 20px 40px rgba(0,0,0,.21) */
  /* padding-left: 15px; */
}

.trending {
  grid-area: 4/ 2 / -1 / 3;
}

.announcements {
  grid-area: 2/ 2/ 3/ 3;
}

.card {
  background-color: var(--navbar-color);
  border-radius: 10px;
  /* box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21); */
  box-shadow: 8.5px 10px 10px rgba(0, 0, 0, 0.21);

  border-left: 1rem solid var(--accent-color);
  padding: 1rem;
}

.titles {
  display: flex;
  align-items: center;
  font-weight: var(--secondary-font-weight);
  /* paddi */
}

.announcements,
.trending {
  border-radius: 10px;
  box-shadow: 8.5px 10px 10px rgba(0, 0, 0, 0.21);
  padding: 1rem;
  background-color: var(--navbar-color);
}
